<h2>nächste Schritte</h2>
<div class="gallery">
 <ul>
  <li>Arbeitspunkt aus Datenbank</li>
 </ul>
 <input type="text" id="taskName" data-value="<%= corel._id %>" name="task" placeholder="Neue Aufgabe">
</div>


