<h2>nächste Schritte</h2>
<div class="gallery">
 <% if (typeof todos == "undefined"){ %>
  <ul id="todoList" >
 <% }else{ %>
 <ul id="todoList" data-value="<%= todos._id %>">
 <% } %>
 </ul>
 <% if (typeof tasks == undefined  ){ %>
   <% console.log("tasks vorhanden"); %> 
 <% }else{ %>
  <input type="text" id="todo"  data-value="<%= corel._id.toString() %>" name="task" placeholder="Neue Aufgabe"> 
 <%  } %>
 
</div>


