<% include partials/header %>
<% include partials/navbarTop %>
<h1>Startseite</h1>

<div class="row"> 
  <div class="col-sm-6"> 
   <div class="row">
    <div class="col-sm-10 textArea"> 
     <div class="card firstRow">
       <div class="card-body card-media">
        <h5 class="card-title">Corel Paintshop Pro</h5>
        <p class="card-text">Alternative zu Photoshop</p>
        <a href="/html/dragndrop.html" class="btn btn-primary">Verschieben von Objekten</a>
        <a href="/html/dragndrop.html" class="btn btn-primary">Verändern der Seite</a>
       </div>
     </div>
    </div>
    <div class="col-sm-2 picThumb firstRow"> 
     <img src="/images/corel_logo.png">
    </div>
  </div>
 </div>
 <div class="col-sm-6">
  <div class="row">
   <div class="col-sm-10 textArea"> 
    <div class="card firstRow">
      <div class="card-body card-media">
        <h5 class="card-title">ToDo-Liste</h5>
        <p class="card-text">Sammeln von Aufgaben</p>
        <a href="/html/todo.html" class="btn btn-primary">Html-Version</a>
        <a href="/todo" class="btn btn-primary">mit Datenbank</a>
      </div>
    </div>
   </div>
   <div class="col-sm-2 picThumb firstRow"> 
    <img src="/images/winkenderPanda.jpg">
   </div>
  </div>
 </div>
</div>  
<div class="row"> 
  <div class="col-sm-6"> 
   <div class="row">
    <div class="col-sm-10 textArea"> 
     <div class="card secRow">
       <div class="card-body card-media">
        <h5 class="card-title">CG ART</h5>
        <p class="card-text">Meine Digital Art Gallery</p>
        <a href="/html/error.html" class="btn btn-primary">Error-Seite</a>
        <a href="/composition" class="btn btn-primary">Composition</a>
       </div>
     </div>
    </div>
    <div class="col-sm-2 picThumb secRow"> 
     <img src="/images/winkenderPanda.jpg">
    </div>
  </div>
 </div>
 <div class="col-sm-6">
  <div class="row">
   <div class="col-sm-10 textArea"> 
    <div class="card secRow">
      <div class="card-body card-media">
        <h5 class="card-title">CMS</h5>
        <p class="card-text">Content Managment System</p>
        <a href="/html/cms.html" class="btn btn-primary">Html-Version</a>
        <a href="/cms" class="btn btn-primary">mit Datenbank</a>
      </div>
    </div>
   </div>
   <div class="col-sm-2 picThumb secRow"> 
    <img src="/images/cms_logo_jamaica.png">
   </div>
  </div>
 </div>
</div>
<div class="row"> 
  <div class="col-sm-6"> 
   <div class="row">
    <div class="col-sm-10 textArea"> 
     <div class="card thirdRow">
       <div class="card-body card-media">
         <h5 class="card-title">Media</h5>
         <p class="card-text">Sammlung aller Bilder/Videos/Audiodateieien/PDFs</p>
         <a href="/user" class="btn btn-primary">Benutzerdatenbank</a>
         <a href="/media" class="btn btn-primary">Mediendatenbank</a>
       </div>
     </div>
    </div>
    <div class="col-sm-2 picThumb thirdRow"> 
     <img src="/images/winkenderPanda.jpg">
    </div>
  </div>
 </div>
 <div class="col-sm-6">
  <div class="row">
   <div class="col-sm-10 textArea"> 
    <div class="card thirdRow">
      <div class="card-body card-media">
         <h5 class="card-title">Office</h5>
         <p class="card-text">Meine Dokumente digitalisiert</p>
         <a href="#" class="btn btn-primary">Benutzerdatenbank</a>
         <a href="#" class="btn btn-primary">Mediendatenbank</a>
      </div>
    </div>
   </div>
   <div class="col-sm-2 picThumb thirdRow"> 
    <img src="/images/winkenderPanda.jpg">
   </div>
  </div>
 </div>
</div> 
<% include partials/footer %>